<!DOCTYPE html>
<html lang={{ lang }}>
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/pure.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ fluent(key="title", lang=lang) }}</title>
    {% endblock head %}
</head>
<body>
    <div id="header">
        <a href="/" class="pure-button">{{ fluent(key="home", lang=lang) }}</a>
        <a href="/admin/dashboard" class="pure-button">{{ fluent(key="to-dashboard", lang=lang) }}</a>
        {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="message message-{{message.message_type}}">{{ fluent(key=message.text_key, lang=lang) }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        <a href="https://www.cm.rwth-aachen.de">{{ fluent(key="brand", lang=lang) }}</a>
        <p>{{ fluent(key="cookie-disclaimer", lang=lang) }}</p>
        <select id="language-selector">
            {% for language in supported_languages() %}
                <option value="{{language}}" {% if lang == language %} selected {% endif %}>{{ fluent(key="language", lang=language) }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="display: none !important;" id="data-lang">{{ lang }}</div>
    <script type="module" src="/static/js.cookie.js"></script>
    <script type="module" src="/static/base.js"></script>
</body>
</html>
