{% extends "base" %}
{% block content %}
<h1>{{ fluent(key="booking-delete", lang=lang) }}</h1>
<p>{{ fluent(key="booking-delete-confirmation", lang=lang) }}</p>
<form method="post">
    <button type="submit" class="pure-button pure-button-primary">{{ fluent(key="delete", lang=lang) }}</button>
</form>
{% endblock content %}
