{% extends "base" %}
{% block content %}
<h1>{{ fluent(key="title", lang=lang) }}</h1>
<p>{{ fluent(key="welcome-user", lang=lang) }}</p>
<p class="admin-text">{{ announcement }}</p>
<div>
    {% for date_type in date_types %}
        <a href="/dates/{{date_type.value}}" class="pure-button pure-button-primary">{{ date_type.display_name }}</a>
    {% endfor %}
</div>
{% endblock content %}
