{% extends "base" %}

{% block content %}
<h1>{{ fluent(key="password-reset", lang=lang }}</h1>
<form class="pure-form">
    <label for="email">{{ fluent(key="email", lang=lang) }}</label>
    <input type="email" id="email" name="email" value="{{ email }}" placeholder="{{ fluent(key="email", lang="lang) }}" />
    <button type="submit" class="pure-button pure-button-primary">{{ fluent(key="password-reset-action", lang=lang) }}</button>
</form>
{% endblock content %}
